<%- include('../partials/header') %>
  <div class="page-wrapper">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Full Width</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  View Products
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row el-element-overlay">
        <% products.map((val)=> { %>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                  <img src="../<%= val.image %>" alt="<%= val.title %>" class="fixed-image-size" />
                  <div class="el-overlay">
                    <ul class="list-style-none el-info">
                      <li class="el-item">
                        <a class="btn default btn-outline image-popup-vertical-fit el-link"
                          href="/product/delete-product/<%= val.id %>">
                          <i class="fa-solid fa-trash"></i>
                        </a>
                      </li>
                      <li class="el-item">
                        <a class="btn default btn-outline el-link" href="/product/edit-product/<%= val.id %>">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="el-card-content">
                  <h4 class="mb-0">
                    <%= val.name %>
                  </h4>
                  <h4 class="mb-0">
                    <%= val.price %>
                  </h4>
                  <!-- Add to Cart Form -->
                  <form action="/user/cart/add" method="POST" class="mt-3">
                    <input type="hidden" name="productId" value="<%= val.id %>">
                    <div class="input-group">
                      <input type="number" name="quantity" value="1" min="1" class="form-control" placeholder="Quantity"
                        required />
                      <button type="submit" class="btn btn-success">
                        Add to Cart
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
    <%- include('../partials/footer') %>